/****************************
		GLOBAL STYLES
****************************/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-image: url("../images/site-background.png");
	margin: 0 0 100px;
	padding: 0;
}

.container  {
	max-width: 960px;
	margin: 50px auto;
	overflow: hidden;
	clear: both;
}

.navbar {
	max-width: 960px;
	margin: auto;
}


h1,h2,h3,h3,h4 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

p {
	margin-bottom: 10px;
}


main h2 {
	border-bottom: 2px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 20px;
}


main {
	width: 650px;
	float: left;
	background: #fff;
	padding: 20px;
	margin-right: 30px;


}




/****************************
		MAIN HEADER
****************************/

#site-header {
	background: #fff;
	height: 64px;
	border-bottom: 1px solid #ddd;
}

#site-header h1 {
	margin-top: 0;
	background-color: #dd3333;
	color: #fff;
	display: inline;
	float: left;
	padding: 10px;
	text-transform: uppercase;

}

#site-header a {
    color: #fff;
    text-decoration: none;
}

/****************************
		NAVIGATION
****************************/


nav ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
	float: right;

}

nav li {
	display: inline;
	vertical-align: middle;
    line-height: 64px;
    margin-right: 10px;  

}

#site-header nav li a {
	text-decoration: none;
	color: #333;
}

nav li a:hover {
	color: #dd3333;
}




/****************************
		ABOUT PAGE
****************************/

#mugshot {
	float: left;
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 2px;
	margin-right: 10px;
	box-shadow: 2px 2px 2px #888888;

}



/****************************
		SIDEBAR
****************************/

aside {
	width: 270px;
	float: left;
	background: #fff;
	padding: 20px 0 10px 10px;

}

aside ul {
	list-style-type: none;
	margin-top: 10px;
}

aside ul li {
	display: inline;
	margin-right: 10px;
}

aside ul li img {
	max-width: 30px;
}

aside ul li a {
	text-decoration: none;
}

/* FOOTER */

footer {

	clear: both;
	background: #ddd;
	color: #333;
	text-align: center;
	padding: 40px;
	border-top: 2px solid #dd3333;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
}


/****************************
		PORTFOLIO PAGE 
****************************/

#portfolio-content h2 {
	border-bottom: none;
}


#portfolio-content {
	margin-top: 20px;
}

.portfolio-image {
	width: 275px;
	height: 200px;
	overflow: hidden;
	float: left;
	margin: 15px;
}

.portfolio-image h2 {
	z-index: 1;
	position: relative;
	top: 140px;
	text-align: center;
	background: rgba(215, 44, 44, 0.7);
	color: #fff;
	padding: 5px 0;
}

.portfolio-image a {
	text-decoration: none;
}

.portfolio-image h2:hover {
	color: #333;
}

.portfolio-image img {
    margin-top: -50px;
}



/****************************
		CONTACT PAGE 
****************************/

#contact-form {
    margin-top: 20px;
}

input, textarea {
    border: 1px solid #ddd;
    height: 30px;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 15px;
    width: 100%;
    color: #aaa;
}

textarea {
	height: 200px;
}

input[type="submit"] {
    background: #dd3333;
    width: 100px;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2px;
    color: #fff;
}

input[type="submit"]:hover {
    background: #333;
    color: #fff;
}


/****************************
		BREAKPOINTS 
****************************/

/* Desktop ----------- */
@media only screen and (max-width : 980px) {

	main {
    width: 420px;
	}

	.container {
		max-width: 725px;
		margin: 20px auto;
	}

	#mugshot {
		width: 100%;
		margin-bottom: 20px;
	}

	.navbar {
		max-width: 725px;
		margin: 0 auto;
	}

	.portfolio-image {
    	width: 345px;
    	height: 200px;

	}

	.portfolio-image img {
    	width: 100%;
	}

	.portfolio-image h2 { 
		top: 140px;
	}	


/* Tablet ----------- */
@media only screen and (max-width : 768px) {

	main, aside {
		width:100%;
	    max-width: 725px;
	}

	aside {
		margin: 20px 0;
	}

	#mugshot {
		width: 335px;
		margin-bottom: 20px;
	}

	.portfolio-image {
    	width: 300px;
    	height: 200px;

	}

	.portfolio-image img {
    	width: 100%;
	}

	.portfolio-image h2 { 
		top: 140px;
	}	


}

/* Small Device ----------- */
@media only screen and (max-width : 640px) {

	#site-header {
		width: 640px;
		max-width: 100%;
		position: static;
	}

	.navbar {
		clear: both;
	}

	.container {
		width: 100%;
		max-width: 600px;
	}

	.container main {
		max-width: 600px;
		margin-top: 20px;
	}

	.container #mugshot {
	max-width: 100%;
	width: 600px;
	margin-bottom: 20px;
	}


	#site-header h1 {
    float: none;
    display: block;
    text-align: center;
	}

	nav ul {
		float: left;
    	width: 100%;
    	text-align: center;
    	background: #fff;
    	padding: -10px 0;
	}

	.portfolio-image {
    	width: 530px;
    	height: auto;

	}

	.portfolio-image img {
    	width: 100%;
	}

	.portfolio-image h2 { 
		top: 300px;
	}

